.slider{
    position:relative;
    height:100wh;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 70px;
}

.image{
 width: 800px;
 height: 500px;
 border-radius: 10px;
}

.right-arrow{
    position: absolute;
    top:50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor:pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top:50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor:pointer;
    user-select: none;
}

.slide{
    opacity:0;
    transition-duration: 1s ease;
    
}

.slide.active{
opacity:1;
transition-duration: 1s;
transform: scale(1.08);
}

.ourRovers{
    font-size: 59px;
    color: #FF8F00;
    font-family: "Roboto", Sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.Rover21{
    font-size: 40px;
    color: #FF8F00;
    font-family: "Roboto", Sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}