.card {
	background-color: #fb7620;
}

.card-title {
	text-align: center;
	padding: 2% 2%;
	margin-bottom: 5%;
	height: 10%;
}

#about-container {
	margin: 0 0;
	background-color: black;
	color: white;
}

#individual-card-container {
	display: block;
	margin-bottom: 2.5%;
	height: 100%;
}

.card-content {
	display: flex;
	flex-direction: column;
	padding: 2em;
	height: 80%;
}

#card-text {
	display: block;
	/* 
		width = 0 
		to make the text not change the
		container size. 
	 	
	 */
	width: 0px;
	/*
		min-width = 100%
		to make the text the size of the container
	*/
	min-width: 93%;
	text-align: center;
	font-size: 1.25em;

}

#card-img {
	display: block;
	width: 100%;

}

#card-container-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
	height: 100%;
}

#grid-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  align-items: start;
  margin-bottom: 5em;
  column-gap: 1em;
}
