
/* alumni */

#alumni{
	background-color: white;
}

.alumni-header {
	text-align: center;
	color: #ff8f00;
	font-size: 3.5rem;
	font-weight: bold;
}

.alumni-header p {
	margin: 2rem;

}

.team-container {
	text-align: center;
}


.year-header {
	font-size: 2.1rem;
	color: #ff8f00;
	font-weight: bold;
}

.team-img {
	display: flex;
	justify-content: center;
}

.team-img img {
	width: 75%;
}

.caption {
	margin: 1rem 12.5%;
	text-align: left;
	font-size: 1.5rem;
}

.members-container {
	margin: 2rem 12.5%;
	display: flex;
	flex-direction: column;
}

.members-row {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.members-col {
	width: 100%;
	text-align: left;
	font-size: 1.5rem;
}

.img-center {
	display: flex;
	justify-content: center;
}

/* ---------------- media queries --------------- */



@media (max-width: 800px) {
	.members-row {
		flex-direction: column;
	}
}