#homepage {
	margin: 0px;
	background-color: black;
}



.content {
	height: 100vh;
	background-color: black;
}

.content-container {
	display: flex;
	justify-content: center;
	margin: 0.5em 0px;
	margin-bottom: 0px;
}
.content-text {
	display: flex;
	justify-content: center;
	font-size: 3.5rem;
	color: #ea7244;
	margin: 0px;
}

.content-text p{
	margin: 0px;

}

.content-text2 h2 {
	margin: 0px;
}

.content-text2 {
	/*font-size: 2rem;*/
	color: #ff8f00;
	margin: 0px;
	margin-top: -0.25rem;
	line-height: 2;
	text-align: center;
	background-color: black;
}

#video {
	/*border: 2px green solid;*/
	border: 0px;
	width: 100%;
	background-color: black;
}

