html, body {
	margin: 0px;
}



#nav-bar{
	display: flex;
	background-color: #212226;
	padding: 1rem 0px;
}
.nav-bar-container {
	flex-wrap: wrap;
	display: flex; 
	align-items: center;
	/*justify-content: space-around;*/
	gap: 1rem;
	margin-right: 15%;
}
.nav-bar-container a {
	color: white;
	font-weight: bold;
	font-size: 0.95rem;
	text-decoration: none;

}

.nav-bar-container a:hover{
	color: #FF8F00;
	transition-timing-function: ease-in;
	transition-delay: 150ms;
}

#logo{
	margin-left: 12%;
	margin-right: 10%;
	max-width: 14%;
	height: auto;
}
