
html, body {
	margin: 0px;
}



#nav-bar{
	display: flex;
	background-color: #212226;
	padding: 1rem 0px;
}
.nav-bar-container {
	flex-wrap: wrap;
	display: flex; 
	align-items: center;
	/*justify-content: space-around;*/
	gap: 1rem;
	margin-right: 15%;
}
.nav-bar-container a {
	color: white;
	font-weight: bold;
	font-size: 0.95rem;
	text-decoration: none;

}

.nav-bar-container a:hover{
	color: #FF8F00;
	transition-timing-function: ease-in;
	transition-delay: 150ms;
}

#logo{
	margin-left: 12%;
	margin-right: 10%;
	max-width: 14%;
	height: auto;
}

/* for the hamburger menu */

.nav-bar-container > :link {
    margin: 0 1rem;
    overflow: hidden;
	display: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

 .menu-button,
 .menu-button::before,
 .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
 }
 .menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


/* For Desktop View */
@media screen and (min-width: 1024px) {
	#nav-bar{
    display: flex;
    background-color: #212226;
    padding: 2rem 0px;
  }
  .nav-bar-container {
    flex-wrap: wrap;
    display: flex; 
    align-items: center;
    /*justify-content: space-around;*/
    gap: 2rem;
    margin-right: 20%;
  }
  .nav-bar-container a {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;

  
  }
  
  .nav-bar-container a:hover{
    color: #FF8F00;
    transition-timing-function: ease-in;
    transition-delay: 150ms;
  }

  #logo{
    margin-left: 12%;
    margin-right: 10%;
    height: auto;
  }

  
  }
   

  /* For Tablet View */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #nav-bar{
    flex-direction: row;
    background-color: #212226;
    padding: 1rem 0px;
  }
  .nav-bar-container {
    flex-wrap: wrap;
    display: flex; 
    align-items: center;
    /*justify-content: space-around;*/
    gap: 1rem;
    margin-right: 15%;
	  }

	}

	/* For Mobile Portrait View */
  @media screen and (min-width: 320px) and (max-width: 800px) {
    #nav-bar{
    display: flex;
    background-color: #212226;
    padding: 1rem 0px;
  }
  .nav-bar-container {
    flex-wrap: wrap;
    display: flex; 
    align-items: center;
    /*justify-content: space-around;*/
    gap: 1rem;
    margin-right: 15%;
    }

	#logo{
		/* margin-left: 12%;
		margin-right: 10%;
		max-width: 14%; */
		height: auto;
	}


	/* for the hamburger menu */
	
	