.image {
	width: 100vw;
}

.information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.header{
	color: #f68f03;
}

.information-content{
	line-height: 1.8rem;
	margin: 0% 10%;	
}